#include <stdio.h>

#include "derivative.h" /* include peripheral declarations */



int main(void)
{
	int counter = 0;
	
	
	printf("Hello (Kinetis) World in 'C' from MK60DN512Z derivative! \n\r");
	
	for(;;) {	   
	   	counter++;
	}
	
	return 0;
}
